.add-property-page {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  font-family: "Segoe UI", sans-serif;
}

/* Back */
.back-link {
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 12px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.back-icon {
  display: block;
}

/* Card */
.property-card {
  background: #ffffff;
  width: 100%;
  max-width: 620px;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

/* Step */
.step-text {
  font-size: 14px;
  color: #7b6cff;
  margin-bottom: 8px;
}

/* Title */
.property-card h2 {
  font-size: 28px;
  margin-bottom: 8px;
}

.subtitle-addproperty {
  font-size: 14px;
  color: #666666;
  margin-bottom: 30px;
}

/* Form */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 14px;
  color: #000000;
  margin-bottom: 6px;
  display: block;
}

.form-group label span {
  color: #ff4d4f;
}

.form-group input {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  border: none;
  background: #f3f3f3;
  padding: 0 14px;
  font-size: 14px;
}

.form-group input::placeholder {
  color: #9a9a9a;
}

.form-group input:focus {
  outline: none;
  background: #f3f3f3;
}

/* Buttons */
.button-row {
  display: flex;
  gap: 16px;
  margin-top: 30px;
}

.btn-skip {
  flex: 1;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  background: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.btn-continue {
  flex: 1;
  height: 48px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #b9b6ff, #d6b9ff);
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}
.error-text {
  color: #d32f2f;
  font-size: 12px;
  margin-top: 4px;
}


/* Responsive */
@media (max-width: 480px) {
  .property-card {
    padding: 28px;
  }

  .property-card h2 {
    font-size: 24px;
  }
}

.property-wrapper {
  width: 100%;
  max-width: 620px;
}
.btn-continue {
  flex: 1;
  height: 48px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  transition: all 0.3s ease;
}

/* Disabled state */
.btn-continue:disabled {
  background: linear-gradient(90deg, #b9b6ff, #d6b9ff);
  cursor: not-allowed;
}

/* Enabled state */
.btn-continue:not(:disabled) {
  background: linear-gradient(90deg, #5a3df0, #8a2be2);
  cursor: pointer;
}
.step-text{
  color: #5a3df0;
}