.floating-signout {
  position: fixed;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: linear-gradient(135deg, #7f00ff, #e100ff);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: grab;
  z-index: 9999;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);

  transition: transform 0.15s ease, right 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.floating-signout:active {
  cursor: grabbing;
  transform: scale(0.95);
}